.clients {
  padding: 60px 0;
  @include desktop {
    padding: 94px 0;
  }
}

.clients-title {
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 30px;
  @include desktop {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.31;
  }
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.clients-item {
  @include size(210px, 92px);
  @include tablet {
    @include size(226px, 92px);
  }
  @include desktop {
    @include size(170px, 92px);
  }
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  @include size(100%, 100%);

  color: #afb1b8;

  transition: border 250ms var(--cubic), color 250ms var(--cubic);

  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
  }
}

.client-icon {
  fill: currentColor;
}
