.footer {
  background-color: #2f303a;

  padding-top: 60px;
  padding-bottom: 60px;
}

.footer > .container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
  }
  @include desktop {
  }
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
  text-align: center;

  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);

  @include desktop {
    text-align: start;
  }
}

.footer-logo > span {
  color: var(--bgc-basic-color);
}

.footer-address {
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  color: var(--bgc-basic-color);
}

.footer-web {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include desktop {
    align-items: flex-start;
  }
}

.footer-web a {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

.footer-box-links {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include desktop {
    align-items: flex-start;
    margin-left: 70px;
  }
}

.footer-box-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--bgc-basic-color);

  margin-bottom: 20px;
  padding-top: 60px;

  @include tablet {
    padding-top: 0;
  }
  @include desktop {
    padding-top: 10px;
  }
}

.footer-box-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-box-icon {
  display: block;
  @include size(44px, 44px);
  margin-left: 10px;

  &:first-child {
    margin-left: 0;
  }
}

.footer-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  @include size(100%, 100%);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  color: var(--bgc-basic-color);

  transition: background-color 250ms var(--cubic);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.footer-soc-icon {
  fill: currentColor;
}

.auth-nav-link.link {
  margin-top: 9px;
}

.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include desktop {
    margin-left: auto;
    align-items: flex-start;
  }
}
.subscribe-title {
  padding-top: 60px;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--bgc-basic-color);

  @include desktop {
    padding-top: 10px;
  }
}

.subscribe-field {
  display: flex;
  flex-direction: column;

  @include desktop {
    flex-direction: row;
  }
}

.subscribe-label {
  margin-bottom: 20px;

  @include desktop {
    margin-bottom: 0;
  }
}

.subscribe-input {
  @include size(450px, 50px);

  margin-right: 5px;
  padding: 16px 15px;

  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: rgba(0, 0, 0, 0);
  color: var(--bgc-basic-color);

  @include desktop {
    @include size(358px, 50px);
  }
}

.subscribe-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.subscribe-img {
  fill: var(--bgc-basic-color);
  margin-left: 10px;
}
